@font-face {
    font-family: 'Inter';
    src: url("/assets/fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Inter-bold';
    src: url("/assets/fonts/Inter-Bold.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}