@font-face {
    font-family: 'Inter-bold';
    src: url("../assets/fonts/inter-extra-bold.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', Arial;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 8px 0;
}

@media(max-width: 1160px) {
    .header-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .search-bar {
        width: 83% !important;
        margin-left: 20px !important;
        display: none !important;
    }

    .mobile {
        display: flex !important;
        align-items: center;
        background-color: #ffffff2e;
        border: 1px solid #afafaf;
        border-radius: 95px;
        width: 50%;
        overflow: hidden;
        padding: 10px;
        gap: 5px;
        margin-left: 17px;
        margin-top: 17px;
    }

    .header-wrapper {
        margin: 0 !important;
    }

    #aside-menu {
        margin: 0 !important;
    }
}

@media(max-width: 700px) {
    .header-content .logo {
        max-width: 235px !important;
        display: block !important;
        padding-left: 17px;
    }

    .header-content .logo img{
        min-width: 200px !important;
        width: 100%!important;
    }

    .header-wrapper {
        align-items: center !important;
        padding-top: 20px !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-container {
        justify-content: flex-start !important;
        padding-left: 20px !important;
    }

    .menu-aside {
        width: 100%;
    }

    .btn-side-container {
        padding-right: 5px;
    }

    #aside-menu {
        margin-left: -10px !important;
    }
}

@media(max-width: 330px) {
    #aside-menu {
        margin-left: 20px !important;
    }

    .header-content .logo img {
        min-width: 50px !important;
    }

    .search-bar {
        margin-left: 10px !important;
        padding: 5px !important;
    }

    .search-bar input {
        font-size: 10px !important;
    }

    .mobile input {
        font-size: 10px !important;
    }
}