.enfo-header {
    width: 100%;
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 -50px 90px 0 rgb(0 0 0/27%)
}

.header-content .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content
}

.header-content .logo a img{
    width: 235px;
    height: 69px;
}

.header-content {
    width: 100%;
    border-top: 1px solid #e9e9e9;
    border-bottom: 2px solid #000
}

.lineCategory {
    width: 100%;
    height: 10px
}

.header-content hr {
    width: 100%;
    height: 2px;
    background-color: #000
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 5px 17px
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aside-menu {
    background-color: #000;
    width: 100%;
    width: 60px;
    height: 35px;
    border-radius: 45px;
    display: block;
    margin-left: 50px;
}

#aside-menu span {
    font-size: 20px;
    color:#FFF;
    font-weight:bold
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid #afafaf;
    border-radius: 95px;
    width: 200px;
    overflow: hidden;
    padding: 10px;
    gap: 5px;
}

.search-bar input {
    width: 100%;
    font-size: 15px;
}

.search-bar button {
    background-color: transparent;
}

.menu-aside {
    visibility: hidden;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 88%;
    max-width: 400px;
    padding-top: 9px;
    height: 100vh;
    overflow-x: hidden;
    z-index: 2;
}

.menu-aside-open {
    visibility: visible;
}

.menu-aside-header {
    border-bottom: 1px solid #fff;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
}

.menu-aside-header button{
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    background: #fff;
    color: #000;
    padding: 7px 20px;
}

.menu-aside-header span {
    font-size: 20px;
    font-weight: bold;
}

.menu-aside ul {
    color: #cccc;
    padding: 20px;
}

.menu-aside li {
    padding: 8px 0;
}

.menu-aside ul li a {
    font-size: 16px;
    color: #ccc;
}

.menu-aside-footer {
    display: flex;
    padding: 30px 20px;
    justify-content: start;
    gap: 10px;
    border-top: 1px solid #edededed;
}

#destaque {
    font-weight: 700;
    color: white;
}


@media(max-width: 700px) {
    #aside-menu {
        margin-left: 40px;
        margin-right: 17px;
    }

    .header-content .logo {
        max-width: 235px;
        display: block;
    }

    .header-content .logo img{
        min-width: 200px;
        width: 100%!important;
    }

    .header-wrapper {
        align-items: flex-start;
        flex-direction: column-reverse;
        padding-top: 20px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .header-container {
        justify-content: flex-start;
        padding-left: 20px;
    }

    .search-bar {
        width: 83%;
        margin-left: 20px;
    }

    .menu-aside {
        width: 100%;
    }
}

@media(max-width: 330px) {
    #aside-menu {
        margin-left: 20px;
    }

    .header-content .logo img {
        min-width: 50px;
    }

    .search-bar {
        margin-left: 10px;
        padding: 5px;
    }

    .search-bar input {
        font-size: 10px;
    }
}