.enfo-article-content figure{
    margin-bottom: 1em;
}

.enfo-article-content figure img{
    max-width: 100%;
    max-height: 100%;
}

.enfo-galeria .enfo-article-content figcaption {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.4;
    color: #fff;
    caption-side: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #0000004a;
    padding: 10px;
}

.enfo-article-content p {
    margin-top: 0;
    margin-bottom: 0.9rem;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    line-height: 28px;
    user-select: none;
    word-break: break-word;
}

.enfo-article-content h2{
    font-size: 30px;
}

.enfo-article-content b {
    font-weight: 600;
}
.enfo-article-content strike {  
    text-decoration: line-through;
}

.enfo-article-content  u {
    text-decoration: underline;
}
.enfo-article-content  ul {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 17px;
    vertical-align: baseline;
    background: transparent;
    color: #54595f; 
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enfo-article-content ul li{
    list-style: disc;
    line-height: 20px;
    padding: 10px 0px;
}

.enfo-article-content  ol {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 17px;
    vertical-align: baseline;
    background: transparent;
    color: #54595f; 
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.enfo-article-content ol li { 
    list-style: auto;
    line-height: 20px;
    padding: 10px 0px;
}

.enfo-article-content h1, h2, h3, h4, h5, h6{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.enfo-destaque{
    border-left: 3px solid #000;
    padding-left: 30px;
    margin: 20px 0;
}

.enfo-article-content .enfo-destaque span {
    margin-top: 0;
    margin-bottom: 0.9rem;
    text-align: justify;
    font-size: 22px;
    color: #000;
    line-height: 1.5;

}

.enfo-article-content .enfo-article-img-box {  
    margin-bottom: 20px;
}

.img-destaque {  
    width: 873px;
    height: 483px;
}

.enfo-article-content .enfo-article-img-box img {
    pointer-events: none;
}

#stories-img {
    width: 739px;
    height: 1600px;
}

.enfo-article-content .enfo-image-info {
    text-align: center;
    color: rgb(49, 47, 47);
    font-weight: 600;
    font-size: 13px;
}

.enfo-social-btn img {
    width: 20px;
    height: 20px;
}

.tweet {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tweet img {
    width: 697px;
    height: 430px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 1160px) {
    .img-destaque {  
        width: 100%;
        height: 100%;
    }

    .tweet img {
        width: 100%;
        height: 100%;
    }

    #stories-img {
        width: 100%;
        height: 100%;
    }

    .enfo-article-main-container {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media(max-width: 700px) {
    .titleArticle {
        font-size: 46px;
    }
    .enfo-article-content .enfo-article-img-box img {  
        width: 100%;
        height: 100%;
    }

    #stories-img {
        width: 100%;
        height: 100%;
    }

    .enfo-article-container {
        width: 100%;
        height: 100%;
        padding: 0 !important;
    }

    .enfo-article-main-container {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .enfo-image-title {
        font-size: 10px;
    }

    .enfo-image-author {
        font-size: 10px;
    }

    .tweet img {
        width: 100%;
        height: 100%;
    }

    .article-date {
        font-size: 11px;
    }
}

@media(max-width: 300px) {
    .enfo-social-btn img {
        width: 10px;
        height: 10px;
    }

    .enfo-article-header .social-media {
        margin-bottom: 0
    }

    .article-date {
        font-size: 10px;
    }

    .enfo-article-content p {
        font-size: 13px;
    }

    .titleArticle {
        font-size: 30px;
    }

    .enfo-image-author {
        font-size: 9px;
    }

    .enfo-image-title {
        font-size: 9px;
    }
}